 {% load static %}
    <footer class="position-relative">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 mt-4 ml-auto">
                    <p>African'tuch 
                        <br> africantuch@gmail.com

                    </p>
                        
                </div>
                <div class="col-lg-3 mt-4 ml-auto">
                    <ul class="list-unstyled footer-link">
                        <li><a href="#">instagram</a></li>
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">twitter</a></li>
                    </ul>
                </div>
                <div class="col-lg-auto ml-lg-auto mt-4">
                    <ul class="list-unstyled footer-link">
                        <!-- Please note.You are not allowed to remove credit link.Please respect that.-->
                        <li>© 2024 African'tuch. Tous droits réservés.</a></li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </footer>