{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Free minimal portfolio web site template,minmal portfolio,porfolio,bootstrap template,html template,photography " />
    <title>Atelier Creatif</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}">
</head>

<body>
    <div class="nav-main">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand font-weight-bold" href="{% url 'index' %}">Artisan's Tuch</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">A propos</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"></li>
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--end:Nav -->
        </div>
    </div>
    <!--end:Navigation -->
    <main role="main">
        {% block content  %} 
        {% endblock %}
    </main>
    {% include "base/footer.html" %}

    <script src="{% static 'assets/js/main.min.js' %}"></script>
</body>

</html>
