{% extends 'base/navbar.html' %}
{% load static %}

{% block content %}

    <section class="intro">
        <div class="container">
            <div class="row d-flex  align-items-start">
                <div class="col-md-11">
                    <h1 class="display-3">L’Art de l’Imagination<br>Libérez votre créativité & exprimez votre vision.</h1>
                    <a href="{% url 'gallery' %}" class="btn font-weight-bold" style="transition: transform 0.3s;" onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'">
                        Explorez notre galerie
                      </a>
                      
                </div>
            </div>
        </div>
    </section>
    <!--end:Intro -->
    <section class="space-md">
        <!-- portfolio -->
        <div id="portfolio" class="container">

            <div class="grid" data-cols="3" data-margin="0" data-height="1" data-masonry='{ "columnWidth": 200, "itemSelector": ".entry" }'>
                {% for img in image %}
                <!-- entry -->
                <div class="entry work-entry branding">
                    <a href="#"></a>
                        <div class="entry-image imageBG" data-img="{{ img.image.url }}"></div>
                        <img src="{{ img.image.url }}" alt="{{ img.title }}" class="entry-image imageBG"  style="object-fit: cover !important;">

                        <div class="work-entry-hover">
                            <div class="work-entry-content">
                                <div class="work-entry-title"><h1>{{ img.title }}</h1></div>
                                <div class="work-entry-cat">{{ img.description }}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end:entry -->
                {% endfor %}
            </div>
        </div>
        <!-- /end:portfolio -->
    </section>

{% endblock %}


